In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('supershops.csv')

# Standard Scaler

In [27]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [28]:
df['Marketing Spend'] = ss.fit_transform(df[["Marketing Spend"]])

In [29]:
# df[''] = ss.fit_transform(df[["Administration"]])

In [33]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.749527  471784.10    Dhaka  192261.83
1         1.955860        0.828805  443898.53      Ctg  191792.06
2         1.754364        0.553781  407934.54  Rangpur  191050.39
3         1.554784        0.649738  383199.62    Dhaka  182901.99
4         1.504937        0.500378  366168.42  Rangpur  166187.94

# Max abs scaler

In [34]:
from sklearn.preprocessing import MaxAbsScaler
abs = MaxAbsScaler()

In [35]:
df[['Administration']] = abs.fit_transform(df[['Administration']])

In [36]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.749527  471784.10    Dhaka  192261.83
1         1.955860        0.828805  443898.53      Ctg  191792.06
2         1.754364        0.553781  407934.54  Rangpur  191050.39
3         1.554784        0.649738  383199.62    Dhaka  182901.99
4         1.504937        0.500378  366168.42  Rangpur  166187.94

# Robust Scaler

In [38]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [41]:
df[['Transport']] = abs.fit_transform(df[['Transport']])

In [42]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.749527   1.000000    Dhaka  192261.83
1         1.955860        0.828805   0.940893      Ctg  191792.06
2         1.754364        0.553781   0.864664  Rangpur  191050.39
3         1.554784        0.649738   0.812235    Dhaka  182901.99
4         1.504937        0.500378   0.776136  Rangpur  166187.94